.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    border-bottom: 2px solid rgba(255, 255, 245, 0.9);
}

.navbar-custom {
    background-color: #5a3795;
}

#item-menu a {
    color: #fff;
    text-decoration: none;
}

.navbar-toggler:focus {
   outline: 0;
}

#item-menu .active {
    border-bottom: none;
    color: rgb(232, 248, 7);
    font-weight: bold;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    pointer-events: none;
}

.navbar-light .navbar-brand {
    color: white!important;
}